<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <title>VueJS チュートリアル</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" class="" />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1 class="">Key board Prevent</h1>
      <label for="">Name</label>
      <input type="text" v-model="name" />
      <span class="">{{ name }}</span>
      <label for="">Age</label>
      <input type="text" v-model="age" />
      <span class="">{{ age }}</span>
    </div>
    <script src="app.js"></script>
  </body>
</html>
