.available {
    cursor: pointer;
}

span {
    color: red;
    background: none;
}
.available  span{
    color: gold;
    background: green;
    padding: 5px;
}

.nearby span:after {
    content: "near by";
    margin-left: 1em;
}